@main("Budgets") {
    <div class="content">
        <div class="container">
            <div class="budgets">
                <div class="row widgets">
                    <div class="col-4">
                    </div>
                    <div id="add-budget" class="col-4">
                        <button onclick="budgetsSetEditedID(0)" data-toggle="modal" data-target="#budgets-modal">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="col-4 text-right">
                    </div>
                </div>
                <div id="budgets-wrapper">

                </div>
                <div id="budgets-defaults-wrapper">
                </div>
            </div>
        </div>
    </div>
    <div id="global-stats">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div id="stats-incomes" class="progress">

                    </div>
                    <div class="details row">
                        <div class="col-3 text-left">
                            | 0 CHF
                        </div>
                        <div class="col-6 text-center">
                            June budget income
                        </div>
                        <div class="col-3 text-right">
                            <span id="stats-incomes-sum"></span> CHF |
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div id="stats-outcomes" class="progress">

                    </div>
                    <div class="details row">
                        <div class="col-3 text-left">
                            | 0 CHF
                        </div>
                        <div class="col-6 text-center">
                            June budget outcome
                        </div>
                        <div class="col-3 text-right">
                            <span id="stats-outcomes-sum"></span> CHF |
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="budgets-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add or edit budget</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                            <a id="income-tab-link" class="nav-link active" href="#income-tab" data-toggle="tab" role="tab"><i class="fa fa-arrow-down" aria-hidden="true"></i> Income</a>
                        </li>
                        <li class="nav-item">
                            <a id="outcome-tab-link" class="nav-link" href="#outcome-tab" data-toggle="tab" role="tab"><i class="fa fa-arrow-up" aria-hidden="true"></i> Outcome</a>
                        </li>
                    </ul>
                    <form>
                        <div class="form-group">
                            <label>Income name</label>
                            <input id="budget-name" type="text" class="form-control" placeholder="Ex : Salary">
                        </div>
                        <div class="form-group">
                            <label>Income amount</label>
                            <div class="input-group">
                                <input id="budget-amount" type="text" class="form-control" placeholder="">
                                <div class="input-group-addon">CHF</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Persistent</label>
                                    <div class="dropdown">
                                        <a id="persistent-selector" class="btn btn-secondary btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            None
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a onclick="setPersistent(this)" class="dropdown-item" href="#">None</a>
                                            <a onclick="setPersistent(this)" class="dropdown-item" href="#">Every day</a>
                                            <a onclick="setPersistent(this)" class="dropdown-item" href="#">Every week</a>
                                            <a onclick="setPersistent(this)" class="dropdown-item" href="#">Every month</a>
                                            <a onclick="setPersistent(this)" class="dropdown-item" href="#">Every year</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label><i class="fa fa-retweet" aria-hidden="true"></i> Reported</label>
                                    <div class="dropdown">
                                        <a id="reported-selector" class="btn btn-secondary btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            No
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a onclick="setReported(this)" class="dropdown-item" href="#">No</a>
                                            <a onclick="setReported(this)" class="dropdown-item" href="#">Yes</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Color</label>
                            <div class="dropdown">
                                <a id="color-selector" class="btn btn-secondary btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="preview-color" style="background: chocolate"></span> Chocolate
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: aquamarine"></span> Aquamarine</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: blueviolet"></span> Blue violet</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: brown"></span> Brown</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: cadetblue"></span> CadetBlue</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: chartreuse"></span> Chartreuse</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: chocolate"></span> Chocolate</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: coral"></span> Coral</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: cornflowerblue"></span> Cornflower blue</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: darkblue"></span> Dark blue</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: darkcyan"></span> Dark cyan</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: darkgoldenrod"></span> Dark golden rod</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: darkgreen"></span> Dark green</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: darkkhaki"></span> Dark khaki</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: darkmagenta"></span> Dark magenta</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: darkorange"></span> Dark orange</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: darksalmon"></span> Dark salmon</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: darkturquoise"></span> Dark turquoise</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: deeppink"></span> Deep pink</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: deepskyblue"></span> Deep sky blue</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: goldenrod"></span> Golden rod</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: green"></span> Green</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: indianred"></span> Indian red</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: indigo"></span> Indigo</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: lightslategray"></span> Light slate gray</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: limegreen"></span> Lime green</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: mediumblue"></span> Medium blue</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: olive"></span> Olive</a>
                                    <a onclick="setColor(this)" class="dropdown-item" href="#"><span class="preview-color" style="background: orange"></span> Orange</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="income-tab" role="tabpanel"></div>
                            <div class="tab-pane" id="outcome-tab" role="tabpanel">
                                <div class="form-group">
                                    <label>Takes from incomes (in order)</label>
                                    <div class="dropdown" style="margin-bottom: 10px">
                                        <a class="btn btn-secondary btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-plus" aria-hidden="true"></i> Add
                                        </a>
                                        <div id="takes-from-selector-wrapper" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        </div>
                                    </div>
                                    <div id="takes-from-wrapper">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button onclick="budgetsDelete()" type="button" class="btn btn-danger float-left">Delete</button>
                    <button onclick="budgetsSave()" type="button" class="btn btn-success float-right">Save</button>
                    <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}