@main("Dashboard") {
    <div class="content dashboard">
        <div class="container">
            <div class="row widgets">
                <div class="col-4">
                    <span>From :</span>
                    <div class="btn-group">
                        <button id="from-month" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Month
                        </button>
                        <div class="dropdown-menu">
                            <a onclick="setFromMonth(this)" class="dropdown-item" href="#">January</a>
                            <a onclick="setFromMonth(this)" class="dropdown-item" href="#">February</a>
                            <a onclick="setFromMonth(this)" class="dropdown-item" href="#">March</a>
                            <a onclick="setFromMonth(this)" class="dropdown-item" href="#">April</a>
                            <a onclick="setFromMonth(this)" class="dropdown-item" href="#">Mai</a>
                            <a onclick="setFromMonth(this)" class="dropdown-item" href="#">June</a>
                            <a onclick="setFromMonth(this)" class="dropdown-item" href="#">July</a>
                            <a onclick="setFromMonth(this)" class="dropdown-item" href="#">August</a>
                            <a onclick="setFromMonth(this)" class="dropdown-item" href="#">September</a>
                            <a onclick="setFromMonth(this)" class="dropdown-item" href="#">October</a>
                            <a onclick="setFromMonth(this)" class="dropdown-item" href="#">November</a>
                            <a onclick="setFromMonth(this)" class="dropdown-item" href="#">December</a>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button id="from-year" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Year
                        </button>
                        <div class="dropdown-menu">
                            <a onclick="setFromYear(this)" class="dropdown-item" href="#">2017</a>
                            <a onclick="setFromYear(this)" class="dropdown-item" href="#">2016</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                </div>
                <div class="col-4 text-right">
                    <div class="btn-group">
                        <button id="to-month" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Month
                        </button>
                        <div class="dropdown-menu dropdown-menu-right text-right">
                            <a onclick="setToMonth(this)" class="dropdown-item" href="#">January</a>
                            <a onclick="setToMonth(this)" class="dropdown-item" href="#">February</a>
                            <a onclick="setToMonth(this)" class="dropdown-item" href="#">March</a>
                            <a onclick="setToMonth(this)" class="dropdown-item" href="#">April</a>
                            <a onclick="setToMonth(this)" class="dropdown-item" href="#">Mai</a>
                            <a onclick="setToMonth(this)" class="dropdown-item" href="#">June</a>
                            <a onclick="setToMonth(this)" class="dropdown-item" href="#">July</a>
                            <a onclick="setToMonth(this)" class="dropdown-item" href="#">August</a>
                            <a onclick="setToMonth(this)" class="dropdown-item" href="#">September</a>
                            <a onclick="setToMonth(this)" class="dropdown-item" href="#">October</a>
                            <a onclick="setToMonth(this)" class="dropdown-item" href="#">November</a>
                            <a onclick="setToMonth(this)" class="dropdown-item" href="#">December</a>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button id="to-year" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Year
                        </button>
                        <div class="dropdown-menu dropdown-menu-right text-right">
                            <a onclick="setToYear(this)" class="dropdown-item" href="#">2017</a>
                            <a onclick="setToYear(this)" class="dropdown-item" href="#">2016</a>
                        </div>
                    </div>
                    <span>: To</span>
                </div>
            </div>
            <div id="spending-details" class="cat">
                <h4>Spending details</h4>
                <canvas id="spending-details-canvas" height="80"></canvas>
                <script>
                        var dayLabels =  [];
                        var dataSet1 = [];
                        var dataSet2 = [];
                        var dataSet3 = [];
                        var incomeData = [];
                        var outcomeData = [];

                        for(var i=1; i < 32; i++) {
                            dayLabels.push(i.toString());
                            dataSet1.push(Math.floor((Math.random() * 100) + 1));
                            dataSet2.push(Math.floor((Math.random() * 100) + 1));
                            dataSet3.push(Math.floor((Math.random() * 100) + 1));

                            if(i === 1) outcomeData.push(dataSet1[i-1] + dataSet2[i-1] + dataSet3[i-1]);
                            else if(i > 20) outcomeData.push(null);
                            else outcomeData.push(outcomeData[i-2] + dataSet1[i-1] + dataSet2[i-1] + dataSet3[i-1]);

                            if(i === 1) incomeData.push(50000);
                            else if(i > 20) incomeData.push(null);
                            else incomeData.push(incomeData[i-2] - outcomeData[i-2])
                        }

                        var barChartData = {
                            labels: dayLabels,
                            datasets: [{
                                label: 'Extra',
                                backgroundColor: "blueviolet",
                                data: dataSet1
                            }, {
                                label: 'Nutrition',
                                backgroundColor: "cadetblue",
                                data: dataSet2
                            }, {
                                label: 'Rent',
                                backgroundColor: "chocolate",
                                data: dataSet3
                            }]
                        };
                        var g1 = function() {
                            var ctx = document.getElementById("spending-details-canvas").getContext("2d");
                            window.myBar = new Chart(ctx, {
                                type: 'bar',
                                data: barChartData,
                                options: {
                                    tooltips: {
                                        mode: 'index',
                                        intersect: false
                                    },
                                    responsive: true,
                                    scales: {
                                        xAxes: [{
                                            stacked: true
                                        }],
                                        yAxes: [{
                                            stacked: true
                                        }]
                                    }
                                }
                            });
                        };
                </script>
            </div>
            <div id="income-outcome-details" class="cat">
                <h4>Outcome usage - Income left</h4>
                <canvas id="income-outcome-details-canvas" height="80"></canvas>
                <script>
                        var incomeOutcomeData = {
                            labels: dayLabels,
                            datasets: [{
                                type: 'line',
                                label: 'Outcome usage',
                                borderColor: '#f0ad4e',
                                borderWidth: 2,
                                fill: false,
                                data: outcomeData
                            }, {
                                type: 'line',
                                label: 'Income left',
                                borderColor: '#c6527b',
                                borderWidth: 2,
                                fill: false,
                                data: incomeData
                            }]
                        };
                        var g2 = function() {
                            var ctx = document.getElementById("income-outcome-details-canvas").getContext("2d");
                            window.myBar = new Chart(ctx, {
                                type: 'bar',
                                data: incomeOutcomeData,
                                options: {
                                    tooltips: {
                                        mode: 'index',
                                        intersect: false
                                    },
                                    responsive: true
                                }
                            });
                        };
                </script>
                <div class="recap">
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 25%;">2300 CHF</div>
                        <div class="progress-bar" role="progressbar" style="width: 75%;">5100 CHF</div>
                    </div>
                    <div class="details row">
                        <div class="col-3 text-left">
                            | 0 CHF
                        </div>
                        <div class="col-6 text-center">
                            June budget usage - 30%
                        </div>
                        <div class="col-3 text-right">
                            7400 CHF |
                        </div>
                    </div>
                </div>
            </div>
            <div id="income-outcome-budgets" class="row cat">
                <div class="col-6">
                    <h4>Outcome usage budgets</h4>
                    <canvas id="outcome-usage-budgets" height="120"></canvas>
                    <script>
                            var outcomeUsageBudgets = {
                                datasets: [{
                                    label: 'Outcome usage budgets',
                                    data: [
                                        2300,
                                        6500,
                                        940
                                    ],
                                    backgroundColor: [
                                        "blueviolet",
                                        "cadetblue",
                                        "chocolate"
                                    ]
                                }],
                                labels: [
                                    'Extra',
                                    'Nutrition',
                                    'Exceeding example'
                                ]
                            };

                            var g3 = function() {
                                var ctx = document.getElementById("outcome-usage-budgets").getContext("2d");
                                window.myDoughnut = new Chart(ctx, {
                                    type: 'doughnut',
                                    data: outcomeUsageBudgets,
                                    options: {
                                        responsive: true,
                                        legend: {
                                            display: false
                                        }
                                    }
                                });
                            };
                    </script>
                    <div class="budget">
                        <h6>
                            Extra
                            <span class="float-right">
                                <i class="fa fa-retweet" aria-hidden="true"></i>
                                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            </span>
                        </h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 10%; background: blueviolet">2300 CHF</div>
                            <div class="progress-bar bg-faded left" role="progressbar" style="width: 90%;">3000 CHF</div>
                        </div>
                        <div class="details row">
                            <div class="col-3 text-left">
                                | 0 CHF
                            </div>
                            <div class="col-6 text-center">
                                Used 10% - 90% Left
                            </div>
                            <div class="col-3 text-right">
                                7400 CHF |
                            </div>
                        </div>
                    </div>
                    <div class="budget">
                        <h6>
                            Nutrition
                            <span class="float-right">
                                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            </span>
                        </h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 40%; background: cadetblue">2300 CHF</div>
                            <div class="progress-bar bg-faded left" role="progressbar" style="width: 60%;">3000 CHF</div>
                        </div>
                        <div class="details row">
                            <div class="col-3 text-left">
                                | 0 CHF
                            </div>
                            <div class="col-6 text-center">
                                Used 40% - 60% Left
                            </div>
                            <div class="col-3 text-right">
                                7400 CHF |
                            </div>
                        </div>
                    </div>
                    <div class="budget">
                        <h6>
                            Exceeding exemple
                            <span class="float-right">
                                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            </span>
                        </h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%; background: chocolate">2300 CHF</div>
                            <div class="progress-bar" role="progressbar" style="width: 10%; background: red">3000 CHF</div>
                        </div>
                        <div class="details row">
                            <div class="col-3 text-left">
                                | 0 CHF
                            </div>
                            <div class="col-6 text-center">
                                Used 100% - 10% Exceeding
                            </div>
                            <div class="col-3 text-right">
                                7400 CHF |
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <h4>Income left budgets</h4>
                    <canvas id="income-left-budgets" height="120"></canvas>
                    <script>
                            var incomeLeftBudgets = {
                                datasets: [{
                                    label: 'Income left budget',
                                    data: [
                                        5200,
                                        1500,
                                        9340
                                    ],
                                    backgroundColor: [
                                        "darkblue",
                                        "darksalmon",
                                        "olive"
                                    ]
                                }],
                                labels: [
                                    'Salary',
                                    'Gifts',
                                    'Full example'
                                ]
                            };

                            var g4 = function() {
                                var ctx = document.getElementById("income-left-budgets").getContext("2d");
                                window.myDoughnut = new Chart(ctx, {
                                    type: 'doughnut',
                                    data: incomeLeftBudgets,
                                    options: {
                                        responsive: true,
                                        legend: {
                                            display: false
                                        }
                                    }
                                });
                            };
                    </script>
                    <div class="budget">
                        <h6>
                            Salary
                            <span class="float-right">
                                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            </span>
                        </h6>
                        <div class="progress">
                            <div class="progress-bar bg-faded left" role="progressbar" style="width: 30%;">3000 CHF</div>
                            <div class="progress-bar" role="progressbar" style="width: 70%; background: darkblue;">2300 CHF</div>
                        </div>
                        <div class="details row">
                            <div class="col-3 text-left">
                                | 0 CHF
                            </div>
                            <div class="col-6 text-center">
                                Used 30% - 70% Left
                            </div>
                            <div class="col-3 text-right">
                                7400 CHF |
                            </div>
                        </div>
                    </div>
                    <div class="budget">
                        <h6>
                            Gifts
                            <span class="float-right">
                                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            </span>
                        </h6>
                        <div class="progress">
                            <div class="progress-bar bg-faded left" role="progressbar" style="width: 80%;">3000 CHF</div>
                            <div class="progress-bar" role="progressbar" style="width: 20%; background: darksalmon">2300 CHF</div>
                        </div>
                        <div class="details row">
                            <div class="col-3 text-left">
                                | 0 CHF
                            </div>
                            <div class="col-6 text-center">
                                Used 80% - 20% Left
                            </div>
                            <div class="col-3 text-right">
                                7400 CHF |
                            </div>
                        </div>
                    </div>
                    <div class="budget">
                        <h6>
                            Full example
                            <span class="float-right">
                                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            </span>
                        </h6>
                        <div class="progress">
                            <div class="progress-bar bg-faded left" role="progressbar" style="width: 100%;">3000 CHF</div>
                        </div>
                        <div class="details row">
                            <div class="col-3 text-left">
                                | 0 CHF
                            </div>
                            <div class="col-6 text-center">
                                Used 100% - 0% Left
                            </div>
                            <div class="col-3 text-right">
                                7400 CHF |
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cat full-budget">
                <div class="budget default">
                    <h4>
                        Exchanges
                        <span class="float-right">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </span>
                    </h4>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 45%;">3000 CHF</div>
                        <div class="progress-bar bg-success" role="progressbar" style="width: 55%;">2300 CHF</div>
                    </div>
                    <div class="details row">
                        <div class="col-3 text-left">
                            | 0 CHF
                        </div>
                        <div class="col-6 text-center">
                            Borrow 45% - 55% Lend
                        </div>
                        <div class="col-3 text-right">
                            7400 CHF |
                        </div>
                    </div>
                </div>
            </div>
            <div class="cat full-budget">
                <div class="budget default">
                    <h4>
                        Balance
                        <span class="float-right">
                            <i class="fa fa-balance-scale" aria-hidden="true"></i>
                        </span>
                    </h4>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 60%;">3000 CHF - 60%</div>
                        <div class="progress-bar bg-success" role="progressbar" style="width: 40%;">2300 CHF - 40%</div>
                    </div>
                    <div class="details row">
                        <div class="col-3 text-left">
                            | 0 CHF
                        </div>
                        <div class="col-6 text-center">
                            Outcome 60% - 40% Income
                        </div>
                        <div class="col-3 text-right">
                            7400 CHF |
                        </div>
                    </div>
                </div>
            </div>
            <div class="cat full-budget">
                <div class="budget default">
                    <h4>
                        Debt
                        <span class="float-right">
                            <i class="fa fa-asterisk" aria-hidden="true"></i>
                        </span>
                    </h4>
                    <div class="progress">
                        <div class="progress-bar bg-debt" role="progressbar" style="width: 100%;">3000 CHF</div>
                    </div>
                    <div class="details row">
                        <div class="col-3 text-left">
                            | 0 CHF
                        </div>
                        <div class="col-6 text-center">
                            When all incomes are used, the outcomes uses debt
                        </div>
                        <div class="col-3 text-right">
                            7400 CHF |
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
                window.onload = function() {
                    g1();
                    g2();
                    g3();
                    g4();
                }
        </script>
    </div>
}