@main("Exchanges") {
    <div class="content">
        <div class="container">
            <div class="exchanges">
                <div class="row widgets">
                    <div class="col-4">
                        <span>From :</span>
                        <div class="btn-group">
                            <button id="from-month" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Month
                            </button>
                            <div class="dropdown-menu">
                                <a onclick="setFromMonth(this)" class="dropdown-item" href="#">January</a>
                                <a onclick="setFromMonth(this)" class="dropdown-item" href="#">February</a>
                                <a onclick="setFromMonth(this)" class="dropdown-item" href="#">March</a>
                                <a onclick="setFromMonth(this)" class="dropdown-item" href="#">April</a>
                                <a onclick="setFromMonth(this)" class="dropdown-item" href="#">Mai</a>
                                <a onclick="setFromMonth(this)" class="dropdown-item" href="#">June</a>
                                <a onclick="setFromMonth(this)" class="dropdown-item" href="#">July</a>
                                <a onclick="setFromMonth(this)" class="dropdown-item" href="#">August</a>
                                <a onclick="setFromMonth(this)" class="dropdown-item" href="#">September</a>
                                <a onclick="setFromMonth(this)" class="dropdown-item" href="#">October</a>
                                <a onclick="setFromMonth(this)" class="dropdown-item" href="#">November</a>
                                <a onclick="setFromMonth(this)" class="dropdown-item" href="#">December</a>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button id="from-year" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Year
                            </button>
                            <div class="dropdown-menu">
                                <a onclick="setFromYear(this)" class="dropdown-item" href="#">2017</a>
                                <a onclick="setFromYear(this)" class="dropdown-item" href="#">2016</a>
                            </div>
                        </div>
                    </div>
                    <div id="add-exchange" class="col-4">
                        <button onclick="exchangesSetEditedID(0)" data-toggle="modal" data-target="#exchanges-modal">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="col-4 text-right">
                        <div class="btn-group">
                            <button id="to-month" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Month
                            </button>
                            <div class="dropdown-menu dropdown-menu-right text-right">
                                <a onclick="setToMonth(this)" class="dropdown-item" href="#">January</a>
                                <a onclick="setToMonth(this)" class="dropdown-item" href="#">February</a>
                                <a onclick="setToMonth(this)" class="dropdown-item" href="#">March</a>
                                <a onclick="setToMonth(this)" class="dropdown-item" href="#">April</a>
                                <a onclick="setToMonth(this)" class="dropdown-item" href="#">Mai</a>
                                <a onclick="setToMonth(this)" class="dropdown-item" href="#">June</a>
                                <a onclick="setToMonth(this)" class="dropdown-item" href="#">July</a>
                                <a onclick="setToMonth(this)" class="dropdown-item" href="#">August</a>
                                <a onclick="setToMonth(this)" class="dropdown-item" href="#">September</a>
                                <a onclick="setToMonth(this)" class="dropdown-item" href="#">October</a>
                                <a onclick="setToMonth(this)" class="dropdown-item" href="#">November</a>
                                <a onclick="setToMonth(this)" class="dropdown-item" href="#">December</a>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button id="to-year" class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Year
                            </button>
                            <div class="dropdown-menu dropdown-menu-right text-right">
                                <a onclick="setToYear(this)" class="dropdown-item" href="#">2017</a>
                                <a onclick="setToYear(this)" class="dropdown-item" href="#">2016</a>
                            </div>
                        </div>
                        <span>: To</span>
                    </div>
                </div>
                <div class="row cols">
                    <div class="col-6">
                        <h4>Borrow</h4>
                        <table id="borrow-wrapper" class="table">
                        </table>
                    </div>
                    <div class="col-6 right">
                        <h4 class="text-right">Lend</h4>
                        <table id="lend-wrapper" class="table">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="global-stats">
        <div class="container">
            <div class="progress">
                <div id="progress-borrow" class="progress-bar bg-danger" role="progressbar" style="width: 50%;">600 CHF</div>
                <div id="progress-lend" class="progress-bar bg-success" role="progressbar" style="width: 50%;">200 CHF</div>
            </div>
            <div class="details row">
                <div class="col-3 text-left">
                    | Borrowed
                </div>
                <div id="global-stats-resume" class="col-6 text-center">
                    Borrow 45% - 55% Lend
                </div>
                <div class="col-3 text-right">
                    Lent |
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exchanges-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add or edit exchange</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                            <a class="nav-link active" href="#borrow-tab" id="borrow-tab-link" data-toggle="tab" role="tab">Borrow</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#lend-tab" id="lend-tab-link" data-toggle="tab" role="tab">Lend</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="borrow-tab" role="tabpanel"></div>
                        <div class="tab-pane" id="lend-tab" role="tabpanel"></div>
                    </div>
                    <form>
                        <div class="form-group">
                            <label>Name</label>
                            <input id="exchange-name" type="text" class="form-control" placeholder="Exchange name">
                        </div>
                        <div class="form-group">
                            <label>Amount</label>
                            <div class="input-group">
                                <input id="exchange-amount" type="text" class="form-control" placeholder="">
                                <div class="input-group-addon">CHF</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button onclick="exchangesDelete()" type="button" class="btn btn-danger float-left">Delete</button>
                    <button onclick="exchangesSave()" type="button" class="btn btn-success float-right">Save</button>
                    <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}